<div class="text-center">

  <h1 class="page-intro">Welcome's to Sal Hendrie's notepad</h1>

  <div class="blog-cards">
    <% @blogs.each do |blog| %>
    <%= link_to blog_path(blog) do %>
    <div class="blog-card">
      <h2><%= blog.title %></h2>
      <h3><%= blog.updated_at.strftime('%a %-d %B %Y') %></h3>
      <p><%= blog.content %></p>
    </div>
    <% end %>
  <% end %>
  </div>

</div>
