.bio-description{
  text-align: justify;
  margin: 1rem 0;
}


.illustrator-title{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $yellow;
  font-style: italic;
  padding: 1rem;
  margin: 2rem 0;
}

.illustrator-card{
  margin: 1rem 0;

  h3{
    font-style: italic;
    padding: 1rem;
  }

  p{
    text-align: justify;
  }
}

