.bio-description{
  text-align: justify;
  margin: 1rem 0;
}

.illustrator-name{
  font-style: italic;
  padding: 1rem;
}

.illustrator-title{
  background-color: bisque;
  padding: 1rem;
  margin: 2rem 0;
}
