.bio-description{
  text-align: justify;
  margin: 1rem 0;
}


.illustrator-title{
  background-color: rgb(255, 228, 196);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 228, 196, 0.7);
}

.illustrator-card{
  margin: 1rem 0;

  h3{
    font-style: italic;
    padding: 1rem;
  }

  p{
    text-align: justify;
  }
}

