.blog-cards {
  a{
    text-decoration: none;
  }
}

.blog-card{
  background: $light-blue;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  color: black;
  padding: 1rem;
  margin: 2rem 0;
  position: relative;

  h2{
    font-weight: bold;
  }

  h3{
    font-style: italic;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: $mid-blue;
  }
}

.blog-title{
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $yellow;
  margin: 2rem 0;
}

.blog-content{
  text-align: justify;
}
