<% provide(:title, 'FanArt') %>
<!-- Add submit fan art section -->
<div class="fanart-cards">
  <% @fanarts.each do |fanart| %>
    <div class="fanart-card">
    <%= cl_image_tag fanart.photo.key, height: 200, width: 280, crop: :fill %>
    <p><%= fanart.author%></p>
    </div>
  <% end %>
</div>
