<div class="text-center">
  <h1 class="page-intro">Creative art pieces by fans</h1>
</div>

<div class="fanart-cards">
<% @fanarts.each do |fanart| %>
  <div class="fanart-card">
  <%= cl_image_tag fanart.photo.key, height: 300, width: 400, crop: :fill %>
  <p><%= fanart.author%></p>
  </div>
<% end %>
</div>
