<nav class="banner">
  <div>
    <%= image_tag("banner.gif") %>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 20px"></i>
  </div>
  <%= link_to new_order_path do %>
    <i class="fas fa-shopping-cart cart"> BASKET <span class="cart-number">0</span></i>
  <% end %>
</nav>

<%= render 'shared/modal' %>
