<nav class="banner">
  <div>
    <%= image_tag("banner.gif") %>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 20px"></i>
  </div>
</nav>

<%= render 'shared/modal' %>
