<nav class="banner">
  <div>
    <%= image_tag("banner.gif") %>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 20px"></i>
  </div>
  <% if @basket.basketItems.count > 0 %>
    <%= link_to basket_path do %>
      <i class="fas fa-shopping-cart cart"> BASKET <span class="cart-number"><%= @basket.basketItems.count %></span></i>
    <% end %>
  <% end %>
</nav>

<%= render 'shared/modal' %>
