<ul class="basket-headers">
  <li class="basket-header">
    Item
  </li>
  <li class="basket-header">
    Quantity
  </li>
  <li class="basket-header">
    Price
  </li>
</ul>
<div class="basket-content">

<%= simple_form_for @order do |f| %>
  <%= f.input :products %>
  <%= f.submit 'Confirm', class: "buy button" %>
<% end %>

<!-- <div class="buy button">Confirm</div> -->
