<ul class="basket-headers">
  <li class="basket-header">
    Item
  </li>
  <li class="basket-header">
    Quantity
  </li>
  <li class="basket-header">
    Price
  </li>
</ul>
<div class="basket-content">
  <div class="item-grid">
    <div>
      Hello
    </div>
    <div>
      Hello
    </div>
    <div>
      Hello
    </div>
  </div>
</div>
