<div class="text-center">
  <h1 class="page-intro">Welcome to the Wonderful World of Sal Hendrie...</h1>

  <%= cl_image_path('boyandtoad.jpg') %>
  <div class="button">ORDER SIGNED BOOKS</div>
</div>
