.banner {
  background-size: cover;
  background-position: bottom right;
  padding: 80px 0;
  background-image: url('banner.gif');
  background-position-y: 300px;
  transform: rotate(180deg);
  margin-bottom: 3rem;
}
