.banner {
  background-size: cover;
  background-position: bottom right;
  padding: 50px 0;
  background-image: url('https://res.cloudinary.com/dkbvm5myl/image/upload/v1585133804/e9ioevur6x43gsuplv6v.gif');
  transform: rotate(180deg);
  margin-bottom: 3rem;
}
