.book{
  display: flex;
  background: rgb(198, 198, 198);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 1rem;
}

.book-information{
  padding: 0 0 0 1rem;
  text-align: left;
  position: relative;

  h3{
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  p{
    margin: 0;
  }
}

.book-year{
  font-style: italic;
  text-decoration: underline;
}

.book-description{
  text-align: justify;
}

#button-book{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
