.menu{
  margin: 2rem;
  text-align: center;
}

.menu > * {
  color: rgb(177, 160, 1);
  font-weight: bold;
  font-size: 2rem;
  padding: 0.1rem 1rem;
  border-right: rgb(177, 160, 1) solid 2px;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    color: rgb(177, 160, 1);
  }
}

.menu > *:last-child {
  border: none;
}
