.menu{
  margin: 2rem;
  text-align: center;
}

.menu > * {
  color: $yellow;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.1rem 1rem;
  border-right: $yellow solid 2px;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(177, 160, 1);
  }
}

.menu > *:last-child {
  border: none;
}
