// Place all the styles related to the BasketItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purchase-card {
  background-color: rgba(210, 216, 229, 0.6);
  padding: 1rem;
  position: relative;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 2px 3px 2px 0 rgb(210, 200, 229);

  & > div {
    margin: 1rem 0;
  }

  & > div:last-child {
    margin: 0;
  }
}

.item-updater{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: blue;
  margin: 1rem;
}

@media (min-width: 992px){
  .purchase-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 150px;
    }
  }
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.basket-photo {
  box-shadow: 2px 3px 2px 0 #d2c8e5;
}
